@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  max-width: 600px;
  padding: 10px;
  margin: 80px;
  margin-top: 40px;
  color: #263238;
  background-color: #F1F0F0;
  font-family: 'Roboto', sans-serif;
}

section {
  margin-bottom: 24px;
}

#information {
  max-width: 500px;
}

p {
  line-height: 20pt;
}

a:link {
  color: #039BE5;
  line-height: 20pt;
}

a:hover {
  color: #29B6F6 !important;
}

/*h1, h2, h3, h4, h5 {
  color: #03A9F4;
}*/

a:visited {
  color: #039BE5;
}

body {
  text-transform: lowercase;
}